<div class="container">
    <div class="my-5">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-color-a1  active" data-toggle="tab" href="#deskripsi" role="tab">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-color-a1" data-toggle="tab" href="#detail" role="tab">Details</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-color-a1" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-color-a1" data-toggle="tab" href="#seller" role="tab">Seller</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content font-size-09" style="background-color:#fafafa">
            <div class="tab-pane fade show active px-3 py-4 text-color-a2" id="deskripsi" role="tabpanel">

                Date Start: {{product.datetime}}<br>
                Date End: sau {{product.datetimeproduct}} day(s)<br>
                Number of Bid: {{numofbid}} <br>
            </div>
            <div class="tab-pane fade px-3 py-4 text-color-a2" id="detail" role="tabpanel">
                <ul class="list-group">
                    {{#each  arrdetails}}
                    <li> {{this.msg}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="tab-pane fade px-3 py-4 text-color-a2" id="shipping" role="tabpanel">
                + Đơn vị vận chuyển: Vận chuyển nhanh quốc tế (Standard Express)<br>
                + Đơn vị vận chuyển: Vận Chuyển Nhanh (Giao Hàng Tiết Kiệm)<br>
                + Đơn vị vận chuyển: Vận Chuyển Nhanh (Giao Hàng Nhanh)
            </div>
            <div class="tab-pane fade px-3 py-4 text-color-a2" id="seller" role="tabpanel">
                <a href="/../rate-reviews/{{product.user}}">
                    <h4>User: <span id="nameseller">{{product.user}}</span>
                </a>
                </h4>
                - Name seller: Nguyen Ngo Ngoc Nga <br>
                - Point : {{rate}}
            </div>

        </div>
    </div>
</div>

{{!-- {{#section 'js'}} --}}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
</script>

<script>
    var str = $('#nameseller').text();

    str = "***" + str.substr(-3);
    $('#nameseller').text(str);
</script>
{{!-- {{/section}} --}}