<!-- Custom fonts for this template -->
<link href="/../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<!-- Custom styles for this template -->
<link href="/stylesheets/agency.css" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

<link rel="stylesheet" href="/stylesheets/account.css">


<div id="page-top">
    {{>navProducts}}


    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
               {{>profile}}
                <div class="col-md-9">
                    <!-- detail infor -->
                    <div class="profile-content" id="detailinfor">
                        <div class="container-fluid">

                            <h2 class="text-danger">Detail Information</h2>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <td>{{account.fullname}}</td>
                                    </tr>
                                    <tr>
                                        <th class="info">Email</th>
                                        <td>{{account.email}}</td>
                                    </tr>
                                    <tr>
                                        <th class="info">Contact</th>
                                        <td>{{account.phone}}</td>
                                    </tr>

                                    <tr>
                                        <th class="info">Address</th>
                                        <td>{{account.address}}</td>
                                    </tr>
                                    <tr>
                                        <th class="info">Status</th>
                                        <td>{{account.status}}</td>
                                    </tr>

                                </thead>

                            </table>
                        </div>
                    </div>
                    <!-- favorite product -->
                    <div id="favoriteproduct">
                        <h2 class="text-danger">Favorite product</h2>
                        <div class="row profile-content" style="background-color:rgb(89, 0, 255)(111, 0, 255);">
                            <img class="col-md-3" src="img/product/macbookpro_13.jpg" alt="" width="50px"
                                height="100px">
                            <h3 class="text-danger col-md-5">Macbook pro 13</h3>
                            <h3 class=" text-danger col-md-3">Price:45,000,000 đ</h3>

                        </div>
                        <div class="row profile-content mt-3" style="background-color:rgb(89, 0, 255)(111, 0, 255);">
                            <img class="col-md-3" src="img/product/macbookpro_13.jpg" alt="" width="50px"
                                height="100px">
                            <h3 class="text-danger col-md-5">Macbook pro 13</h3>
                            <h3 class=" text-danger col-md-3">Price:45,000,000 đ</h3>
                        </div>
                        <div class="row profile-content" style="background-color:rgb(89, 0, 255)(111, 0, 255);">
                            <img class="col-md-3" src="img/product/macbookpro_13.jpg" alt="" width="50px"
                                height="100px">
                            <h3 class="text-danger col-md-5">Macbook pro 13</h3>
                            <h3 class=" text-danger col-md-3">Price:45,000,000 đ</h3>
                        </div>
                    </div>
                    <div id="mycart">
                        YOUR CART IS EMPTY.
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/../javascripts/product.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="/../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/../vendor/jquery/jquery.min.js"></script>


        <script src="/../vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/../javascripts/agency.min.js"></script>
        <script src="/../javascripts/account.js"></script>
    </div>