
<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<!-- Custom styles for this template -->
<link href="/stylesheets/agency.css" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

<link rel="stylesheet" href="/stylesheets/account.css">


<div id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Bidding Together</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
                <form class="form-inline my-2 my-lg-0">

                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <div class="dropdown">

                            <a class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false" aria-haspopup="true">
                                Category</a>

                            <ul class="dropdown-menu" id="drop" role="menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/../products">All</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item" href="/../products">Laptop</a></li>
                                <li><a class="dropdown-item" href="/../products">Mobile</a></li>
                                <li><a class="dropdown-item" href="/../products">Tablet</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#topbid">TOP BID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                    </li>
                    <!--Sign in sign up-->

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">{{account.name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/users/signup">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="https://nguoi-noi-tieng.com/photo/tieu-su-ca-si-khoi-9808.jpg" class="img-responsive"
                            alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{account.name}}
                        </div>
                        <div class="profile-usertitle-job">
                            {{account.status}}
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">Follow</button>
                        <button type="button" class="btn btn-danger btn-sm">Message</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li id="acc_detail">
                                <a href="#">
                                    <i class="fas fa-user"></i>
                                    Detail Information </a>
                            </li>
                            <li id="acc_favorite">
                                <a href="#">
                                    <i class="fas fa-heart-broken"></i>
                                    Favorite Product </a>
                            </li>
                            <li id="acc_cart">
                                <a href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                    My Cart</a>
                            </li>

                            <!-- <li id="acc_cart">
                                <a href="#">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>

                                    My Cart</a>
                            </li> -->
                            <li id="acc_auction">
                                <a href="#">
                                    <i class="fas fa-gavel"></i>
                                    My Auctions </a>
                            </li>
                            <li id="acc_product">
                                <a href="#">
                                    <i class="fas fa-clipboard-check"></i>
                                    My Product( of bidder) </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="fas fa-home"></i>
                                    Home </a>
                            </li>

                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <!-- detail infor -->
                <div class="profile-content" id="detailinfor">
                    <div class="container-fluid">

                        <h2 class="text-danger">Detail Information</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <td>{{account.fullname}}</td>
                                </tr>
                                <tr>
                                    <th class="info">Email</th>
                                    <td>{{account.email}}</td>
                                </tr>
                                <tr>
                                    <th class="info">Contact</th>
                                    <td>{{account.phone}}</td>
                                </tr>

                                <tr>
                                    <th class="info">Address</th>
                                    <td>{{account.address}}</td>
                                </tr>
                                <tr>
                                    <th class="info">Status</th>
                                    <td>{{account.status}}</td>
                                </tr>

                            </thead>

                        </table>
                    </div>
                </div>
                <!-- favorite product -->
                <div id="favoriteproduct">
                    <h2 class="text-danger">Favorite product</h2>
                    <div class="row profile-content" style="background-color:rgb(89, 0, 255)(111, 0, 255);">
                        <img class="col-md-3" src="img/product/macbookpro_13.jpg" alt="" width="50px" height="100px">
                        <h3 class="text-danger col-md-5">Macbook pro 13</h3>
                        <h3 class=" text-danger col-md-3">Price:45,000,000 đ</h3>

                    </div>
                    <div class="row profile-content mt-3" style="background-color:rgb(89, 0, 255)(111, 0, 255);">
                        <img class="col-md-3" src="img/product/macbookpro_13.jpg" alt="" width="50px" height="100px">
                        <h3 class="text-danger col-md-5">Macbook pro 13</h3>
                        <h3 class=" text-danger col-md-3">Price:45,000,000 đ</h3>
                    </div>
                    <div class="row profile-content" style="background-color:rgb(89, 0, 255)(111, 0, 255);">
                        <img class="col-md-3" src="img/product/macbookpro_13.jpg" alt="" width="50px" height="100px">
                        <h3 class="text-danger col-md-5">Macbook pro 13</h3>
                        <h3 class=" text-danger col-md-3">Price:45,000,000 đ</h3>
                    </div>
                </div>
                <div id="mycart">
                    YOUR CART IS EMPTY.
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/../javascripts/product.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/../javascripts/agency.min.js"></script>
    <script src="/../javascripts/account.js"></script>
</div>