<!-- Bootstrap core CSS -->
<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="/stylesheets/agency.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/rating.css">

<div class="row" style="margin-top: 100px">
    {{>navProducts}}


    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>

        <!--   Main Content====================================================-->
        <main>
            <div class="container mb-4">
                <!--       Detail Product-->
                <div class="row no-gutters mt-4">
                    <!--               picture product-->
                    <div class="col-12 col-md-7">
                        <div class="row no-gutters w-100">
                            <!--                       Main picture-->
                            <div class="col-12 col-lg-10 flex-lg-last border-full-1px-solid border-color-a0">
                                <div class="d-flex justify-content-center align-items-center w-100 px-5">
                                    <img src="{{product.image}}" class="img-fluid " id="main1-image"
                                        style="max-height:600px;">
                                </div>
                            </div>
                            <!--                           side picture-->
                            <div class=" col-12 col-lg-2 flex-lg-first mb-md-0 mb-4" style="display:block">
                                <div class="row no-gutters ">

                                    <div
                                        class="col-4 col-sm-3 col-lg-12 border-full-1px-solid border-color-a0 justify-content-center side-picture">
                                        <div class="p-2 w-75">
                                            <img src="https://cdn.fptshop.com.vn/Uploads/Originals/2019/9/11/637037687765081535_11-pro-max-vang.png"
                                                id="side1" class="img-fluid ">
                                        </div>
                                    </div>

                                    <div
                                        class="col-4 col-sm-3 col-lg-12 border-full-1px-solid border-color-a0 justify-content-center side-picture">
                                        <div class="p-2 w-75">
                                            <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/thumbnail/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-11-pro-max-midnight-green-select-2019.png"
                                                id="side2" class="img-fluid ">
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 col-sm-3 col-lg-12 border-full-1px-solid border-color-a0 justify-content-center side-picture">
                                        <div class="p-2 w-75">
                                            <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/thumbnail/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-11-pro-max-silver-select-2019.png"
                                                onclick="changeImg()" id="side3" class="img-fluid ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                Options Product-->
                    <div class="col-12 col-md-5">
                        <form method="post">
                            <div class="pt-0 pr-2 pb-2 pl-1 pl-md-5">
                                <!--                       Judul-->

                                <div
                                    class="mb-4 border-full-2px-solid border-top-0 border-left-0 border-right-0 border-color-inverse">
                                    <h1>{{product.ten}}</h1>
                                    <!-- favorite product <3 -->
                                    <span class="far fa-heart" style="font-size: 2rem; color: red;" id="love"></span>
                                </div>
                                <!--                        Select color-->
                                <div class="mb-4 ">
                                    <div class="row">
                                        <h6 class="text-uppercase ">Select Color :</h6>
                                        <div class="mb-4"></div>
                                    </div>
                                    <div class="d-flex align-content-center ">
                                        <ul class="list-unstyled list-inline ">
                                            <li class="list-inline-item ">
                                                <div class="p-1" style="width:60px; height:40px;" id='a1'>
                                                    <div class="w-100 h-100 "
                                                        style="background-color:rgba(250, 197, 21, 0.438)"></div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item ">
                                                <div class="p-1" style="width:60px; height:40px; " id='a2'>
                                                    <div class="w-100 h-100 " style="background-color:rgb(12, 12, 12) ">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item ">
                                                <div class="p-1" style="width:60px; height:40px; " id='a3'>
                                                    <div class="w-100 h-100 "
                                                        style="background-color:rgba(148, 145, 141, 0.438) "></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--                   Price-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="text-muted font-size-08 text-uppercase ">Current bid:</h6>
                                        <h4>{{product.giahientai}} ₫</h4>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-4 ">
                                        <h6 class="text-muted font-size-08 text-uppercase ml-5">Current winner:</h6>
                                        <h4 class="ml-4">{{product.user}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6 class="font-size-04  mb-4 ">PLACE YOUR BID:</h6>
                                    <div class="mb-4"></div>
                                </div>

                                <div class="row text-muted ml-7">
                                    <div class="mb-5 ">
                                        <input type="number" placeholder="0" step="{{product.buocdaugia}}"
                                            min="{{product.giahientai}}" max="10000000000"
                                            value="{{product.giahientai}}" name="giadau">
                                    </div>
                                    <div class="mb-4">
                                        <h3 class="font-size-04 ">đồng</h3>
                                    </div>
                                    <div class="mb-4 ml-3 font-size-04">
                                        <button class="btn btn-outline-primary my-2 my-sm-0" formaction="/products/detailproduct/{{product._id}}/bid"
                                            type="submit">Bid</button>
                                    </div>
                                </div>
                                <input type="checkbox" class="subscribe-btn"> &nbsp;<span class="align-middle"><label
                                        for="subscribe-btn">Do you want to buy this product right now?</label></span>
                                <div id="text">
                                    <div class="mb-4">
                                        <h6 class="text-muted font-size-08 text-uppercase ">Price buy now!</h6>
                                        <h4>{{product.giamuangay}} ₫</h4>
                                    </div>
                                    <button class="btn btn-outline-primary my-2 my-sm-0"
                                        formaction="/products/addtocart" type="submit">Add to
                                        cart</button>

                                </div>

                            </div>
                        </form>
                    </div>
                    <!--    Description / Details / shipping -->
                    {{>description}}
                    <!--        Review ========================================================================================-->
                    {{>rateandreview}}
                    <!--        You may also like-->
                    <div class="container mb-4 ">
                        <h4 class="text-center text-uppercase ">You May Also Like</h4>
                        <section class="bg-light page-section" id="topbid">
                            <div class="container">
                                <div class="row">
                                    <!-- chèn cho khỏi trống -->
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2 col-sm-6 topbid-item">
                                        <a class="topbid-link" data-toggle="modal" href="#topbidModal1">
                                            <div class="topbid-hover">
                                                <div class="topbid-hover-content">
                                                    <i class="fas fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid"
                                                src="https://cdn.fptshop.com.vn/Uploads/Originals/2019/9/11/637037687765081535_11-pro-max-vang.png"
                                                alt="">
                                        </a>
                                        <div class="topbid-caption">
                                            <h4>iPhone 11 Pro Max</h4>
                                            <p class="text-muted">37,990,000 ₫</p>
                                            <p class="settime">02:00:30</p>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-6 topbid-item">
                                        <a class="topbid-link" data-toggle="modal" href="#topbidModal1">
                                            <div class="topbid-hover">
                                                <div class="topbid-hover-content">
                                                    <i class="fas fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid"
                                                src="https://product.hstatic.net/1000337134/product/1024e34a20f1da3c195ce4c_master_112c442a9817466eb1de8ac23fd6f593_master_027d12a707d944b38602059a3e40e665_master.jpg"
                                                alt="">
                                        </a>
                                        <div class="topbid-caption">
                                            <h4>MacBook Pro 15"2019</h4>
                                            <p class="text-muted">66,000,000₫</p>
                                            <p class="settime">21:12:19</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 topbid-item ">
                                        <a class="topbid-link" data-toggle="modal" href="#topbidModal1">
                                            <div class="topbid-hover">
                                                <div class="topbid-hover-content">
                                                    <i class="fas fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid"
                                                src="https://product.hstatic.net/1000233206/product/msi-gt76-titan-dt-9sg-097vn_6e77dffe3a3448199c2ae3743e13a2e9_master.png"
                                                alt="">
                                        </a>
                                        <div class="topbid-caption">
                                            <h4> Laptop MSI GT76</h4>
                                            <p class="text-muted">111,990,000₫</p>
                                            <p class="settime">3 days</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 topbid-item">
                                        <a class="topbid-link" data-toggle="modal" href="#topbidModal2">
                                            <div class="topbid-hover">
                                                <div class="topbid-hover-content">
                                                    <i class="fas fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid"
                                                src="https://minmobile.net/image/catalog/Samsung/Galaxy-Fold-5G/samsung-galaxy-fold-5g-gia-re-han-quoc-xach-tay-uy-tin-hai-phong.jpg"
                                                alt="">
                                        </a>
                                        <div class="topbid-caption">
                                            <h4><br>Samsung Galaxy Fold 5G</h4>
                                            <p class="text-muted">49.900.000 đ</p>
                                            <p class="settime">3 days</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 topbid-item">
                                        <a class="topbid-link" data-toggle="modal" href="#topbidModal3">
                                            <div class="topbid-hover">
                                                <div class="topbid-hover-content">
                                                    <i class="fas fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid"
                                                src="https://img.nhabanhang.com/c/i/19086/aHR0cHM6Ly9zYWx0LnRpa2ljZG4uY29tL3RzL3Byb2R1Y3QvZGYvODkvNDYvNWZmZDA0YTYxYzljMjRhYzZiMWQ4Yzk4YjdhM2FiYTAuanBn.jpg"
                                                alt="">
                                        </a>
                                        <div class="topbid-caption">
                                            <h4>IPAD PRO 12.9 INCH </h4>
                                            <p class="text-muted">35,990,000 đ</p>
                                            <p class="settime">25:00:27</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
        </main>
        <!--   Footer==============================================-->
    </div>
</div>



<!-- Bootstrap core JavaScript -->
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/agency.min.js"></script>

<!-- Javascrip create dialog for sign in sign up-->

<script src="/javascripts/modal.js"></script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js">
</script>
</div>