{{#section 'css'}}
<!-- Bootstrap core CSS -->
<link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="/stylesheets/agency.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/rating.css">
{{/section}}

<div class="row" style="margin-top: 100px">
    {{>navProducts}}
    {{>notification}}

    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>

        <!--   Main Content====================================================-->
        <main>
            <div class="container mb-4">
                <!--       Detail Product-->
                <div class="row no-gutters mt-4">
                    <!--               picture product-->
                    <div class="col-12 col-md-7">
                        <div class="row no-gutters w-100">
                            <!--                       Main picture-->
                            <div class="col-12 col-lg-10 flex-lg-last border-full-1px-solid border-color-a0">
                                <div class="d-flex justify-content-center align-items-center w-100 px-5">
                                    <img src="{{product.image}}" class="img-fluid " id="main1-image"
                                        style="max-height:600px;">
                                </div>
                            </div>
                            <!--                           side picture-->
                            <div class=" col-12 col-lg-2 flex-lg-first mb-md-0 mb-4" style="display:block">
                                <div class="row no-gutters ">

                                    <div
                                        class="col-4 col-sm-3 col-lg-12 border-full-1px-solid border-color-a0 justify-content-center side-picture">
                                        <div class="p-2 w-75">
                                            <img src="https://cdn.fptshop.com.vn/Uploads/Originals/2019/9/11/637037687765081535_11-pro-max-vang.png"
                                                id="side1" class="img-fluid ">
                                        </div>
                                    </div>

                                    <div
                                        class="col-4 col-sm-3 col-lg-12 border-full-1px-solid border-color-a0 justify-content-center side-picture">
                                        <div class="p-2 w-75">
                                            <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/thumbnail/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-11-pro-max-midnight-green-select-2019.png"
                                                id="side2" class="img-fluid ">
                                        </div>
                                    </div>
                                    <div
                                        class="col-4 col-sm-3 col-lg-12 border-full-1px-solid border-color-a0 justify-content-center side-picture">
                                        <div class="p-2 w-75">
                                            <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/thumbnail/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-11-pro-max-silver-select-2019.png"
                                                onclick="changeImg()" id="side3" class="img-fluid ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                Options Product-->
                    <div class="col-12 col-md-5">
                        <div class="pt-0 pr-2 pb-2 pl-1 pl-md-5">
                            <!--                       Judul-->

                            <div
                                class="mb-4 border-full-2px-solid border-top-0 border-left-0 border-right-0 border-color-inverse">
                                <h1>{{product.ten}}
                                    <span class="far fa-heart" style="font-size: 2rem; color: red;" id="love"></span>

                                </h1>
                                <!-- favorite product <3 -->
                                <input class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                                    value="Add to favorite">
                            </div>

                            <!--                   Price-->
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="text-muted font-size-08 text-uppercase ">Current bid:</h6>
                                    <h4>{{product.giahientai}} ₫</h4>
                                    <p>Time: 59</p>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 ">
                                    <h6 class="text-muted font-size-08 text-uppercase ml-5">Current winner:</h6>
                                    <a class="text-muted font-size-08 text-uppercase ml-5"
                                        href="/../rate-reviews/{{currentwinner}}">
                                        <h4 class="ml-4" id="currentwiiner">{{currentwinner}}</h4>
                                    </a>
                                    <p class="text-muted font-size-08 text-uppercase ml-5">rate: 12</p>
                                </div>
                            </div>
                            <div class="row">
                                <h6 class="font-size-04  mb-4 ">PLACE YOUR BID:</h6>
                                <div class="mb-4"></div>
                            </div>

                            <div class="row text-muted ml-7">
                                <div class="mb-5 ">
                                    <input id="giadau" type="number" placeholder="0" step="{{product.buocdaugia}}"
                                        min="{{product.giahientai}}" max="10000000000" value="{{product.giahientai}}"
                                        name="giadau">
                                </div>
                                <div class="mb-4">
                                    <h3 class="font-size-04 ">VND</h3>
                                </div>
                                <div class="mb-4 ml-3 font-size-04">
                                    <a class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal"
                                        data-target="#beforebid" id="clickbid">Bid</a>
                                    {{>notification-bid}}

                                </div>
                            </div>
                            <input type="checkbox" class="subscribe-btn"> &nbsp;<span class="align-middle"><label
                                    for="subscribe-btn">Do you want to buy this product right now?</label></span>
                            <div id="text">
                                <div class="mb-4">
                                    <h6 class="text-muted font-size-08 text-uppercase ">Price buy now!</h6>
                                    <h4 id="giamuangay">{{product.giamuangay}} ₫</h4>
                                </div>
                                <a class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal"
                                    data-target="#beforeaddtocart" id="clickaddtocart">Add
                                    to
                                    cart</a>
                                {{>notification}}
                                {{>notification-addcart}}


                            </div>

                        </div>
                    </div>
                    <!--    Description / Details / shipping -->
                    {{>description}}
                    <!--        Review ========================================================================================-->

                    <div class="container mb-4 ">
                        <h4 class="text-center text-uppercase ">You May Also Like</h4>
                        <section class="bg-light page-section" id="topbid">
                            <div class="container">
                                <div class="row">
                                    <!-- chèn cho khỏi trống -->
                                    <div class="col-md-1"></div>
                                    {{#each nearproducts}}
                                    <div class="col-md-2 col-sm-6 topbid-item">
                                        <a class="topbid-link" href="/products/detailproduct/id?id={{this._id}}">
                                            <div class="topbid-hover">
                                                <div class="topbid-hover-content">
                                                    <i class="fas fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid" src={{this.image}} alt="">
                                        </a>
                                        <div class="topbid-caption">
                                            <h4>{{this.ten}}</h4>
                                            <p class="text-muted">{{this.giahientai}} ₫</p>
                                            <p class="settime" style="color:red"></p>
                                            <p style="color:blue">{{this.soluot}}<i class="fas fa-gavel"></i></p>
                                            <p class="temp" hidden>{{this.datetimeproduct}}</p>
                                        </div>
                                    </div>
                                    {{/each}}


                                </div>
                            </div>
                        </section>
                    </div>
        </main>
        <!--   Footer==============================================-->
    </div>
</div>



{{#section 'js'}}
<!-- Bootstrap core JavaScript -->
<script src="../../../vendor/jquery/jquery.min.js"></script>
<script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/agency.min.js"></script>

<!-- Javascrip create dialog for sign in sign up-->

<script src="/javascripts/modal.js"></script>
<script src="/javascripts/counttime.js"></script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js">
</script>

<script>
    var str = $('#currentwiiner').text();
    if (str != 'Nobody') {
        str = "***" + str.substr(-3);
        $('#currentwiiner').text(str);

    } 
</script>
{{/section}}