{{#section 'css'}}

<!-- Bootstrap core CSS -->
<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
  type='text/css'>
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/account.css">
<!-- Custom styles for this template -->
<link href="/stylesheets/agency.css" rel="stylesheet">
<link rel="stylesheet" href="/../stylesheets/mycart.css">
{{/section}}
<div id="page-top">
  {{>navProducts}}


  <div class="container">
    <div class="row profile">
      <div class="col-md-3">
        {{>profile}}
      </div>
      <div class="col-md-9">
        <div class="row" style="margin-top: 150px!important;">

          <div class="col-md-9">
            <h2 style="color:rgb(167, 167, 167);">My Cart</h2>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deletecart">
              Delete your cart
            </button>
            {{>modaldeletecart}}
          </div>

          <!-- Modal -->


        </div>
        <div style="background-color: rgb(247, 247, 247);">
          <table class="table" >
            <thead style="font-size:20px;">
              <tr>
                <th scope="col">Bidding cart</th>
                <th scope="col">Information</th>
                <th scope="col">Bid Price</th>
                <th scope="col">Detail bidding</th>
                <th scope="col">Buy Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            {{#each cart}}
            <tbody>
              <tr>
                <th scope="row"><a href="/products/detailproduct/{{this.idsanpham}}"><img src="{{this.image}}" alt=""
                      style="width:50px; height:50px;"></a></th>
                <td style="width:200px;">{{this.tensp}}<br>
                  <p style="color: blue;">Supplier:<span>{{this.seller}}</span></p>
                </td>
                <td>{{this.giadau}} đ</td>
                <td>
                  <p>total:{{this.num}}</p>
                  {{#each this.numbid}}
                  <p class="nameuser">{{this.user}}</p><p>- Price bid:{{this.giadau}}</p><p>- Date bid:{{this.datebid}}</p>
                  {{/each}}
                </td>
                {{!-- <td>
                  <button type="button" class="btn btn-primary deletecart" data-toggle="modal"
                    data-target=".deletecart">
                    Delete
                    <p class="temp" hidden>{{this.idsanpham}}</p>

                  </button>

                  <!-- Modal -->
                  {{>modaldeletecart}}
                </td> --}}

                <td class="temp">{{this.giaphaitra}} đ</td>
                <form action="/users/mycart/buy/{{this.idsanpham}}" method="post">
                  <td>
                    <input class="btn btn-outline-primary" type="submit" value="Buy">
                  </td>
                </form>
              </tr>
            </tbody>
            {{/each}}
          </table>

        </div>
      </div>
    </div>

  </div>

</div>



{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="../../vendor/jquery/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/agency.min.js"></script>
<script src="/../javascripts/mycart.js"></script>
<script>
    var str = $('.nameuser');

    for(var i = 0; i< str.length;i++){
    $(str[i]).text("***" + $(str[i]).text().substr(-3));
    }
    
</script>

{{/section}}