{{#section 'css'}}

<!-- Bootstrap core CSS -->
<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
  type='text/css'>
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


<!-- Custom styles for this template -->
<link href="/stylesheets/agency.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/product.css">
{{/section}}

<div id="page-top">
  {{>navProducts}}

  <div class="container-fluid mt-12">
    <div class="row">
      <div class="col-sm-3">
        {{>category}}

        {{>seach}}
      </div>
      <div class="col-sm-9">

        <section class="bg-light page-section" id="topbid">

          <div class="row" style="padding-left: 15px; padding-right: 15px;">
            {{#each list}}
            {{#if this.selling}}

            <div class="col-md-2 col-sm-6 topbid-item {{this.loai}}">
              <a class="topbid-link" href="/products/detailproduct/id?id={{this._id}}">
                <div class="topbid-hover">
                  <div class="topbid-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{{this.image}}" alt="">
              </a>
              <div class="topbid-caption">
                <h5>{{this.ten}}</h5>
                <p class="text-muted">{{this.giahientai}} ₫</p>
                <p class="settime" style="color:red"></p>
                <p class="temp" hidden>{{this.datetimeproduct}}</p>
              </div>
            </div>
            {{/if}}
            {{/each}}
          </div>
        </section>

        <div class="d-flex justify-content-center">
          <div class="row">
            <div class="col-sm-12">
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="?page={{prev_value}}">
                      <i class="fa fa-backward" aria-hidden="true"></i>
                    </a>
                  </li>
                  {{#each this.page_numbers}}
                  {{#if isCurrentPage}}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(curr ent)</span></a>
                  </li>
                  {{else}}
                  <li class="page-item">
                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                  </li>
                  {{/if}}
                  {{/each}}
                  <li class="page-item">
                    <a class="page-link" href="?page={{next_value}}">
                      <i class="fa fa-forward" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{#section 'js'}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="../../vendor/jquery/jquery.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/javascripts/agency.min.js"></script>
  <script src="/javascripts/product.js"></script>
  <script src="/javascripts/counttime.js"></script>

  {{/section}}