{{#section 'css'}}

<!-- Bootstrap core CSS -->
{{!-- <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> --}}

<!-- Custom fonts for this template -->
<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
  type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


<!-- Custom styles for this template -->
<link href="/stylesheets/agency.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/product.css">
{{/section}}

<div id="page-top">
  {{>navProducts}}

  <div class="container-fluid mt-12">
    <div class="row">
      <div class="col-sm-3">
        {{>category}}
      </div>
      <div class="col-sm-9">

        <section class="bg-light page-section" id="topbid">

          <div class="row" style="padding-left: 50px;">

            {{#each list}}
            <div class="col-md-2 col-sm-6 topbid-item {{this.loai}}">
              <a class="topbid-link" href="/products/detailproduct/id?id={{this._id}}">
                <div class="topbid-hover">
                  <div class="topbid-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{{this.image}}" alt="">
              </a>
              <div class="topbid-caption">
                <h5>{{this.ten}}</h5>
                <p class="text-muted">{{this.giahientai}} ₫</p>
                <p class="settime">03:00:30</p>
              </div>
            </div>
            {{/each}}

          </div>
        </section>
      </div>
    </div>
    {{#section 'js'}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/javascripts/product.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="/../../vendor/jquery/jquery.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../../javascripts/agency.min.js"></script>
  </div>

  {{/section}}